* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-decoration: none;
  background-color: #343434;
  color: #bababa;
}

.icn ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.icn li {
  display: inline-flex;
  padding: 1%;
  max-width: 6rem;
}

.prices ul {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 6rem;
  padding: 4rem;
  background-color: rgb(15, 37, 14);
}

.prices li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
